/*
    ** Media query mixin for help only
    ** Demo Version only for the course

*/
/*
    ** Overlay Mixin
*/
/*
    ** Prefixes mixin
    ** Auto add prefixes to properties 
*/
/*
    ** @keyframes animation mixin
    ** Auto add prefixes to @keframes 
*/
/*
    ** opacity mixin
    ** make IE browser supports opacity property 
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px;
}

ul, ol {
  list-style: none;
  padding: 0;
}

/* start hamburger list */
/* end hamburger list */
.ham-list {
  position: absolute;
  top: 27px;
  right: 30px;
  width: 43px;
  height: 43px;
  background-color: #e2494c;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
}

.ham-list span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3px;
}

.ham-list span:first-child {
  top: 35%;
}

.ham-list span:last-child {
  top: 66%;
}

@media (min-width: 537px) {
  .ham-list {
    display: none;
  }
}

/* Start header */
.header {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
  text-transform: uppercase;
}

.header .logo {
  width: 30%;
  float: left;
}

@media (max-width: 1200px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}

@media (max-width: 536px) {
  .header .logo {
    text-align: left;
    font-size: 15px;
  }
}

@media (max-width: 330px) {
  .header .logo {
    text-align: left;
    font-size: 13px;
  }
}

@media (max-width: 290px) {
  .header .logo {
    text-align: left;
    font-size: 10px;
  }
}

.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}

.header .navbar {
  width: 70%;
  float: left;
  background-color: #e2494c;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .header .navbar {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .header .navbar {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 536px) {
  .header .navbar {
    overflow: hidden;
    float: none;
    height: 0px;
  }
}

.header .navbar li {
  width: 20%;
  float: left;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 700px) {
  .header .navbar li {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .header .navbar li {
    font-size: 14px;
  }
}

@media (max-width: 536px) {
  .header .navbar li {
    display: block;
    width: 100%;
    float: none;
  }
}

.header .navbar li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 20px 10px;
}

.header .navbar li a:hover {
  color: #ddd;
}

.show-navbar {
  height: 280px !important;
}

/* Start header */
/*Start headings with border*/
.head-with-border {
  position: relative;
}

.head-with-border h2 {
  background-color: #e2494c;
  color: #fff;
  text-align: center;
  margin: 40px auto;
  border-radius: 15px;
  max-width: 400px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.head-with-border h2:before {
  content: '';
  width: 100%;
  height: 1.6px;
  background-color: #9c9c9c;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

/*End headings with border*/
.main-button {
  background-color: #e2494c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-button:hover {
  background-color: #e25a6e;
}

/* Start Slider */
.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  font-family: tahoma , arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 80%;
  margin: 30px auto;
}

.slider img {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: auto;
}

.slider .bullets {
  text-align: center;
}

.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 3px solid #9c9c9c;
  cursor: pointer;
}

.slider .bullets li.active {
  border: 3px solid #333;
  background: white;
}

.slider .bullets li:hover {
  border: 3px solid #333;
}

/* End Slider */
/* Start Services */
.services .service-box {
  float: left;
  width: 33.33333%;
}

.services .service-box:not(:last-of-type) {
  padding-right: 20px;
}

@media (max-width: 767px) {
  .services .service-box {
    width: 100%;
    float: none;
  }
  .services .service-box i {
    display: block;
    margin-bottom: 15px;
  }
}

.services .service-box .service-title {
  color: #444;
}

.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: -2px;
  margin-right: 4px;
}

.services .service-box .service-description {
  color: #333333;
  line-height: 1.5;
}

.services .service-box .service-link {
  color: #e2494c;
}

/* End Services */
/* Start our-players */
.our-players .player-box:not(:last-of-type) {
  padding-right: 20px;
}

@media (min-width: 768px) {
  .our-players .player-box {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .our-players .player-box {
    float: left;
    width: 33.33333%;
    text-align: left;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .our-players .player-box {
    float: left;
    width: 20%;
    margin-bottom: 40px;
  }
}

.our-players .player-box .player-img {
  width: 100%;
  height: 200px;
}

@media (max-width: 766px) {
  .our-players .player-box .player-img {
    width: 50%;
    height: 250px;
    display: block;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .our-players .player-box .player-img {
    width: 70%;
  }
}

.our-players .player-box .player-title {
  color: #777;
  font-weight: normal;
}

@media (max-width: 766px) {
  .our-players .player-box .player-title {
    text-align: center;
  }
}

.our-players .player-box .player-title span {
  font-weight: bold;
  color: #555;
}

.our-players .player-box .player-description {
  color: #777;
  line-height: 1.5;
}

@media (max-width: 766px) {
  .our-players .player-box .player-description {
    text-align: center;
  }
}

.our-players .player-box .player-link {
  color: #e2494c;
}

@media (max-width: 766px) {
  .our-players .player-box .player-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* End our-players */
/* Start Lorem Ipsum*/
.lorem-ipsum .lorem-box {
  float: left;
  width: 30.33333%;
  margin-right: 3%;
}

@media (max-width: 991px) {
  .lorem-ipsum .lorem-box {
    width: 100%;
  }
}

.lorem-ipsum .lorem-box .lorem-img {
  max-width: 100%;
  height: 200px;
}

@media (max-width: 991px) {
  .lorem-ipsum .lorem-box .lorem-img {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 4px;
  }
}

/* End Lorem Ipsum*/
/* Start Footer */
.footer {
  background-color: #ccc;
  overflow: hidden;
  padding-top: 30px;
  margin-top: 50px;
}

.footer .section-title {
  color: #111;
  font-weight: normal;
}

.footer .gallery, .footer .info, .footer .contact {
  float: left;
}

@media (min-width: 768px) {
  .footer .gallery {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .footer .gallery {
    width: 50%;
  }
}

.footer .gallery .img-box {
  overflow: hidden;
  margin-bottom: 20px;
}

.footer .gallery .img-box img {
  width: 150px;
  height: 150px;
  float: left;
  border: 7px solid #222;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .footer .gallery .img-box img {
    float: none;
    display: block;
    margin: auto;
  }
}

.footer .gallery .img-box .text {
  float: left;
  width: calc(100% - 150px - 30px);
  margin-right: 15px;
  margin-left: 15px;
}

@media (max-width: 450px) {
  .footer .gallery .img-box .text {
    float: none;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

.footer .gallery .img-box .text h4 {
  color: #e2494c;
  margin: 10px 0 0;
}

.footer .gallery .img-box .text p {
  color: #888;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .footer .info {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .footer .info {
    width: 25%;
  }
}

.footer .info ul li {
  color: #888;
}

.footer .info ul li span {
  color: #e2494c;
}

.footer .info h4 {
  color: #888;
  font-weight: bolder;
  margin-bottom: 0px;
}

.footer .info p {
  color: #888;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .footer .contact {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .footer .contact {
    width: 25%;
  }
}

.footer .contact input[type="text"],
.footer .contact input[type="email"],
.footer .contact textarea {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%;
}

.footer .contact textarea {
  height: 140px;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid #999;
  overflow: hidden;
  color: #888;
  margin-top: 30px;
}

@media (max-width: 450px) {
  .footer .copyright {
    font-size: 10px;
  }
}

.footer .copyright .text {
  float: left;
  width: 50%;
}

.footer .copyright .author {
  float: left;
  width: 50%;
  text-align: right;
}

/* End Footer */
/*# sourceMappingURL=index.css.map */