@import 'sass/helpers/variables';

$float-left:right;
$float-right:left;

$text-left:right;
$text-right:left;



/* start hamburger list */

/* end hamburger list */

.ham-list{
    right: unset;
    left: 30px;  
}


/* Start header */

.header{
    .logo{
        float: $float-left;
     
        @media (max-width:536px){
            text-align: $text-left;
        }
        @media (max-width:330px){
            text-align: $text-left;
        }
        @media (max-width:290px){
            text-align: $text-left;
        }
    }

    .navbar{
        float: $float-left;
        li{
            float: $float-left;
            
        }
    }
}
/* Start header */



/* Start Services */

.services{
    .service-box{
        float: $float-left;

    }
}

/* End Services */


/* Start our-players */

.our-players{

    .player-box{
      
        @media #{$minSmall}{
            float: $float-left;
        }
        @media #{$minMedium}{
            float: $float-left;
        }
        @media #{$minLarge}{
            float: $float-left;
        }
        
    }
}

/* End our-players */

/* Start Lorem Ipsum*/

.lorem-ipsum{
    .lorem-box{
        float:$float-left;
    }
}

/* End Lorem Ipsum*/


/* Start Footer */

.footer{

    .gallery , .info , .contact{
        float: $float-left;   
    }
    .gallery{
   
        .img-box{
            img{
                float: $float-left;
                @media (max-width:450px){
                    float: none;
                    text-align: center;
                    margin: auto;
                }
            }   
            .text{
                float: $float-left;
              
                @media (max-width:450px){
                    float: none;     
                    width: 100%;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }

    .copyright{
        .text{
            float: $float-left;
        }
        .author{
            float:$float-left;
            text-align: $text-right;
        }
    }
}
/* End Footer */